@font-face {
  font-family: "FuturaBook";
  src: local("FuturaBook"),
    url("./assets/fonts/futura/Futura-Book-font.ttf") format("truetype");
}

@font-face {
  font-family: "FuturaBookBold";
  src: local("FuturaBookBold"),
    url("./assets/fonts/futura/Futura-Book-font.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  font-family: "FuturaBook";
  box-sizing: border-box;
}


a {
  text-decoration: none;
}
